/* Reset basico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    position: relative; 
    z-index: 10; 
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.user-actions a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

.hero {
    background-size: cover;
    background-position: center;
    width:100%;
    height:auto;
    margin-bottom: 2rem;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative; 
    z-index: 1;
}



/* Product showcase styles */
.product-showcase {
    padding: 2rem;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.product img {
    max-width: 100%;
    height: auto;
}

.brand-legacy {
    display: flex;
    padding: 2rem 5rem;
    background-color: #f4f4f4;
}

.legacy-content, .legacy-image {
    flex: 1;
    margin: 2rem;
}

.legacy-image img {
    max-width: 100%;
    height: auto;
}


.social-connect {
    text-align: center;
    padding: 2rem;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    margin-top: 1rem;
}

/* Footer styles */
footer {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #000;
    color: #fff;
}

.page-content {
    margin: 2rem;
    padding: 2rem;
}

.footer-section {
    flex: 1;
}

/* Responsive design */
@media (max-width: 768px) {
    header, .brand-legacy, footer {
        flex-direction: column;
    }

    nav ul {
        margin-bottom: 1rem;
    }

    .legacy-content, .legacy-image {
        margin-bottom: 1rem;
    }
}